    <div id="wrapper">
        <!-- Top Navigation -->
        {{>header}}
        <!-- End Top Navigation -->
        <!-- Left navbar-header -->
        {{>leftnav}}
        <!-- Left navbar-header end -->
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Sent Log</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active">Sent Log</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /row -->
                <div class="row">
                   
                    
                    <div class="col-sm-12">
                        <div class="white-box">
                            <form>
                                <div class="form-group">
                                    <label for="radio7">SMS DID</label>
                                    <input type="radio" name="radio" id="radio7" value="option7"> 
                                                      
                                </div>
                                <div class="form-group">
                                    <label for="radio6">SMS SHORT CODE</label>
                                    <input type="radio" name="radio" id="radio6" value="option7"> 
                                                      
                                </div>
                                <div class="form-group">
                                    <label for="radio5">RECENT</label>
                                    <input type="radio" name="radio" id="radio5" value="option7"> 
                                    <input type="text" name="">                  
                                </div>
                                <div class="form-group">
                                    <label for="radio4">RANGE</label>
                                    <input type="radio" name="radio" id="radio4" value="option7"> 
                                    <input type="text" name=""> 
                                    <input type="text" name="">                  
                                </div>
                                <div class="form-group">
                                    <label for="radio3">SEARCH</label>
                                    <input type="radio" name="radio" id="radio3" value="option7"> 
                                    <input type="text" name="">                  
                                </div>
                                <div class="form-group">
                                    <button class="btn">Refresh Report</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                </div>

                <div class="row">
                   
                    
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">Sent Log</h3>
                            <div class="table-responsive">
                                <table class="table color-bordered-table inverse-bordered-table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Type</th>
                                            <th>To/Form</th>
                                            <th>Status</th>
                                            <th>Sent</th>
                                            <th>Message Id</th>
                                            <th width="20%">Message</th>
                                            <th>Reference Id</th>
                                                                                        
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>2569364</td>
                                            <td>Out Going</td>
                                            <td>Successfull</td>
                                            <td>11/02/2017 3:46:48PM</td>
                                            <td>14589-8596-hgjko-45526</td>
                                            <td>The Summit Pacific ER team appreciates your patience. Please come to the nurses station and present your name registration #1023. Reply C to Cancel.</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>2569364</td>
                                            <td>Out Going</td>
                                            <td>Successfull</td>
                                            <td>11/02/2017 3:46:48PM</td>
                                            <td>14589-8596-hgjko-45526</td>
                                            <td>The Summit Pacific ER team appreciates your patience. Please come to the nurses station and present your name registration #1023. Reply C to Cancel.</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>2569364</td>
                                            <td>Out Going</td>
                                            <td>Successfull</td>
                                            <td>11/02/2017 3:46:48PM</td>
                                            <td>14589-8596-hgjko-45526</td>
                                            <td>The Summit Pacific ER team appreciates your patience. Please come to the nurses station and present your name registration #1023. Reply C to Cancel.</td>
                                            <td></td>
                                        </tr>

                                        
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
            <!-- /.container-fluid -->
            {{>footer}}
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="../plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="bootstrap/dist/js/tether.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../plugins/bower_components/bootstrap-extension/js/bootstrap-extension.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="../plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="js/custom.min.js"></script>
    <!-- jQuery peity -->
    <script src="../plugins/bower_components/peity/jquery.peity.min.js"></script>
    <script src="../plugins/bower_components/peity/jquery.peity.init.js"></script>
    <!--Style Switcher -->
    <script src="../plugins/bower_components/switchery/dist/switchery.min.js"></script>
    <script>
    jQuery(document).ready(function() {
        // Switchery
        var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
        $('.js-switch').each(function() {
            new Switchery($(this)[0], $(this).data());

        });
        // For select 2
    });
    </script>
    <script src="../plugins/bower_components/sweetalert/sweetalert.min.js"></script>
    <script src="../plugins/bower_components/sweetalert/jquery.sweet-alert.custom.js"></script>
    <script src="../plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
