<style type="text/css">
        .btn-circle {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}
.btn-circle {
    padding: 0px 0;
    margin-right: 2px;
}
    </style>
    <div id="wrapper">
        <!-- Navigation -->
        {{>header}}
        <!-- Left navbar-header -->
        {{>leftnav}}
        <!-- Left navbar-header end -->
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Scheduler</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li class="active">Scheduler</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                
                <div class="row">
                    <div class="col-sm-6">
                        <div class="white-box">
                            <h3 class="box-title">Scheduler</h3>
                            <form class="form-material form-horizontal">
                                
                                <div class="form-group">
                                    <label class="col-md-6" for="example-name">Open Time</span>
                                    </label>
                                     <label class="col-md-6" for="example-name">Closed Time</span>
                                    </label>
                                    <div class="input-group clockpicker col-md-6 " data-placement="bottom" data-align="top" data-autoclose="true">
                                        <input type="text" class="form-control" value="00:00">
                                        <span class="input-group-addon"> <span class="glyphicon glyphicon-time"></span> </span>
                                    </div>
                                    <div class="input-group clockpicker col-md-6 " data-placement="bottom" data-align="top" data-autoclose="true">
                                        <input type="text" class="form-control" value="00:00">
                                        <span class="input-group-addon"> <span class="glyphicon glyphicon-time"></span> </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12" for="example-name">Lunch Time</span>
                                    </label>
                                    <div class="input-group clockpicker col-md-6 " data-placement="bottom" data-align="top" data-autoclose="true">
                                        <input type="text" class="form-control" value="00:00">
                                        <span class="input-group-addon"> <span class="glyphicon glyphicon-time"></span> </span>
                                    </div>
                                    <div class="input-group clockpicker col-md-6 " data-placement="bottom" data-align="top" data-autoclose="true">
                                        <input type="text" class="form-control" value="00:00">
                                        <span class="input-group-addon"> <span class="glyphicon glyphicon-time"></span> </span>
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <label class="col-md-12" for="example-name">Second Break</span>
                                    </label>
                                    <div class="input-group clockpicker col-md-6 " data-placement="bottom" data-align="top" data-autoclose="true">
                                        <input type="text" class="form-control" value="00:00">
                                        <span class="input-group-addon"> <span class="glyphicon glyphicon-time"></span> </span>
                                    </div>
                                    <div class="input-group clockpicker col-md-6 " data-placement="bottom" data-align="top" data-autoclose="true">
                                        <input type="text" class="form-control" value="00:00">
                                        <span class="input-group-addon"> <span class="glyphicon glyphicon-time"></span> </span>
                                    </div>
                                </div> -->
                                <div class="form-group">
                                    <label class="col-md-12" for="example-name">Providers</span>
                                    </label>
                                    <div class="input-group clockpicker col-md-6 " data-placement="bottom" data-align="top" data-autoclose="true">
                                        <input type="text" class="form-control" value="00:00">
                                        <span class="input-group-addon"> <span class="glyphicon glyphicon-time"></span> </span>
                                    </div>
                                    <div class="input-group clockpicker col-md-6 " data-placement="bottom" data-align="top" data-autoclose="true">
                                        <input type="text" class="form-control" value="00:00">
                                        <span class="input-group-addon"> <span class="glyphicon glyphicon-time"></span> </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    
                                    <label>Budget Visit</label>
                                    <a href="javascript:void(0)" class="btn btn-info model_img" data-toggle="modal" data-target=".bs-example-modal-lg">Click Here</a>
                                    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            
                                        </div>
                                        <div class="modal-body">
                                            <table class="table timing-cancel">
                                                <thead><tr><th></th><th>12a 1a 2a 3a</th><th>4a 5a 6a 7a</th><th>8a 9a 10a 11a</th><th>12p 1p 2p 3p</th><th>4p 5p 6p 7p</th><th>8p 9p 10p 11p</th></tr></thead>
                                                <tbody>
                                                    <tr><td>Monday</td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td></tr>
                                                    <tr><td>Tuseday</td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td></tr><tr><td>Wednesday</td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td></tr><tr><td>Thrusday</td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td></tr><tr><td>Friday</td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td></tr>

                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                                </div>
                                
                                <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Submit</button>
                                <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-6">

                        <div class="white-box">
                            <h3 class="text-center">Block Out Times</h3>
                            <table class="table timing-cancel">
                                                <thead><tr><th></th><th>12a 1a 2a 3a</th><th>4a 5a 6a 7a</th><th>8a 9a 10a 11a</th><th>12p 1p 2p 3p</th><th>4p 5p 6p 7p</th><th>8p 9p 10p 11p</th></tr></thead>
                                                <tbody>
                                                    <tr><td>Monday</td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td></tr>
                                                    <tr><td>Tuseday</td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td></tr><tr><td>Wednesday</td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td></tr><tr><td>Thrusday</td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td></tr><tr><td>Friday</td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td><td><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button><button type="button" class="btn btn-info btn-circle"><i class="fa fa-repeat"></i> </button></td></tr>

                                                </tbody>
                                            </table>
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- /.container-fluid -->
            {{>footer}}
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="../plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="bootstrap/dist/js/tether.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../plugins/bower_components/bootstrap-extension/js/bootstrap-extension.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="../plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="js/waves.js"></script>
    <!-- Date Picker Plugin JavaScript -->
    <script src="../plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">
    // Date Picker
    jQuery('.mydatepicker').datepicker();
    </script>
    <!-- Custom Theme JavaScript -->
    <script src="js/custom.min.js"></script>
    <script src="js/jasny-bootstrap.js"></script>
    <script src="js/mask.js"></script>
    <!--Style Switcher -->
    <script src="../plugins/bower_components/moment/moment.js"></script>
    <!-- Clock Plugin JavaScript -->
    <script src="../plugins/bower_components/clockpicker/dist/jquery-clockpicker.min.js"></script>
    <!-- Color Picker Plugin JavaScript -->
    <script src="../plugins/bower_components/jquery-asColorPicker-master/libs/jquery-asColor.js"></script>
    <script src="../plugins/bower_components/jquery-asColorPicker-master/libs/jquery-asGradient.js"></script>
    <script src="../plugins/bower_components/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js"></script>
    <!-- Date Picker Plugin JavaScript -->
    <script src="../plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- Date range Plugin JavaScript -->
    <script src="../plugins/bower_components/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="../plugins/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script>
    // Clock pickers
    $('#single-input').clockpicker({
        placement: 'bottom',
        align: 'left',
        autoclose: true,
        'default': 'now'

    });

    $('.clockpicker').clockpicker({
            donetext: 'Done',

        })
        .find('input').change(function() {
            console.log(this.value);
        });

    $('#check-minutes').click(function(e) {
        // Have to stop propagation here
        e.stopPropagation();
        input.clockpicker('show')
            .clockpicker('toggleView', 'minutes');
    });
    if (/mobile/i.test(navigator.userAgent)) {
        $('input').prop('readOnly', true);
    }
    // Colorpicker

    $(".colorpicker").asColorPicker();
    $(".complex-colorpicker").asColorPicker({
        mode: 'complex'
    });
    $(".gradient-colorpicker").asColorPicker({
        mode: 'gradient'
    });
    // Date Picker
    jQuery('.mydatepicker, #datepicker').datepicker();
    jQuery('#datepicker-autoclose').datepicker({
        autoclose: true,
        todayHighlight: true
    });

    jQuery('#date-range').datepicker({
        toggleActive: true
    });
    jQuery('#datepicker-inline').datepicker({

        todayHighlight: true
    });

    // Daterange picker

    $('.input-daterange-datepicker').daterangepicker({
        buttonClasses: ['btn', 'btn-sm'],
        applyClass: 'btn-danger',
        cancelClass: 'btn-inverse'
    });
    $('.input-daterange-timepicker').daterangepicker({
        timePicker: true,
        format: 'MM/DD/YYYY h:mm A',
        timePickerIncrement: 30,
        timePicker12Hour: true,
        timePickerSeconds: false,
        buttonClasses: ['btn', 'btn-sm'],
        applyClass: 'btn-danger',
        cancelClass: 'btn-inverse'
    });
    $('.input-limit-datepicker').daterangepicker({
        format: 'MM/DD/YYYY',
        minDate: '06/01/2015',
        maxDate: '06/30/2015',
        buttonClasses: ['btn', 'btn-sm'],
        applyClass: 'btn-danger',
        cancelClass: 'btn-inverse',
        dateLimit: {
            days: 6
        }
    });
    $(document).on('click','.timing-cancel .btn-circle',function(){
            $(this).toggleClass('btn-info');
            $(this).toggleClass('btn-warning');
            $(this).children().toggleClass('fa-repeat');
            $(this).children().toggleClass('fa-undo');
       });

       $(document).on('click','.time-container .time-cancel',function(){
            $(this).toggleClass('btn-info');
            $(this).toggleClass('btn-warning');
            $(this).children().toggleClass('fa-repeat');
            $(this).children().toggleClass('fa-undo');
       });
    </script>
    <script src="../plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
